
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box
}
.slideshow-container {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.slide-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}

.slide-image {
  flex: 1;
  max-width: 50%;
  height: 100%;
  object-fit: cover;
}



.slide-caption {
  flex: 1;
  max-width: 50%;
  padding: 20px;

  backdrop-filter: blur(5px);
  text-align: left;
}

.mySlides {
  display: none;

}
.text {
  color: #f3eded;
  font-size: 45px;
  margin-top: 1%;
}

.numbertext {
  color: #F2F2F2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}





.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



body{
    background-image: linear-gradient(to left ,rgb(62, 62, 255), rgb(172, 231, 244));
    height: 1000px
}

.home{
    width: 80%;
    margin: auto;
}

.ctr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.jtc{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar{
    margin: 20px;

    font-size: x-large;
    font-weight:bold;


}

.navbar ul li{
    list-style: none;
    display: flex;
    float: left;
    padding: 5px 10px;
}


/* main */

.left{
    width: 50% ;

}

.left p{
font-size: 3rem;
}








.learn-more-button {
    margin-top: 30px;
    display: inline-block;
    font-weight: 800;
    padding: 10px 30px;
    background-color: #ffffff;
    color: #7eaaf6;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    
  }
  .learn-more-button:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
